// These are the default settings for type

html { // This is the root size for REM
  font-size: 87.5%; // = 14px
  @include bp($md) { font-size: 93.75%; } // = 15px
  @include bp($xl) { font-size: 100%; } // = 16px
}

body {

  // font rendering options
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
          font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  // standard
  font-family: $sans;
  -webkit-text-size-adjust: 100%;

  // light theme
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -.005rem;
  color: $grey-dark;
  background-color: $white;

  // // dark theme
  // font-weight: 300;
  // color: $white;
  // background-color: $grey-darkest;
  // line-height: 1.6;
  // letter-spacing: .02rem;

}
