// Sale block styles

$circle-height: 3.4rem; // height for arrow and saved number
$offer-max-width: 560px;

.offer {
  position: relative;
  width: 100%;
  max-width: $offer-max-width;
  margin-left: auto;
  margin-right: auto;
  background-color: $white;
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: transparent;
    color: transparent;
    @include transition;
    &:hover {
      opacity: 1;
      background-color: rgba($grey-darkest,.5);
      color: $white;
      .touch & { opacity: 0; }
    }
  }
  &__expires {
    position: absolute;
    z-index: $z-content-upper;
    top: $s0; left: $s0;
    font-weight: 600;
    color: $white;
    &:before {
      content: "";
      display: inline-block;
      height: 15px;
      width: 15px;
      margin-right: .4em;
      margin-bottom: .25em;
      vertical-align: middle;
      background-image: url( "../img/icons/clock.svg" );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
    }
  }
  &__title {
    font-size: $s1;
    font-family: $serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: $s-4;
    @include bp($lg){
      font-size: $s2;
    }
  }
  &__tags {
    position: absolute;
    z-index: $z-content-upper;
    bottom: $s-2; left: $s-2;
    display: flex;
  }
  &__tag {
    display: flex;
    align-items: center;
    padding: $s-6 8px;
    background-color: $black;
    border-radius: 3px;
    color: transparent;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    margin-right: 0.3rem;
    height: 32px;
    width: 32px;
    overflow: hidden;
    &:first-child {
      width: auto;
      text-indent: 0;
      color: $white;
    }
    &:before {
      content: "";
      height: 16px;
      min-width: 16px;
      background-image: url('../img/icons/attr-plane.svg');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      display: inline-block;
      margin-right: 12px;
      vertical-align: middle;
    }
    &-flights {}
    &-refundable {
      background-color: #128B71;
      &:before { background-image: url('../img/icons/attr-shield.svg'); }
    }
    &-customisable {
      background-color: #583490;
      &:before { background-image: url('../img/icons/attr-cogs.svg'); }
    }
  }
  &__content {
    padding: $s2;
    border-left: 1px solid $grey-lighter;
    border-right: 1px solid $grey-lighter;
    border-bottom: 1px solid $grey-lighter;
    background-color: $white;
  }
  &__location {
    margin-bottom: $s-4;
    &:before {
      content: "";
      display: inline-block;
      height: 13px;
      width: 9px;
      margin-right: .4em;
      margin-bottom: .25em;
      vertical-align: middle;
      background-image: url( "../img/icons/location.svg" );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: $s-4;
    &-right {
      margin-left: auto;
      align-self: flex-end;
    }
    &-left  {
      display: flex;
      align-items: center;
      width: 100%; // needed for ie11
      max-width: $offer-max-width; // needed for ie11
      margin-right: auto;
    }
  }
  &__price,
  &__discount {
    color: $primary;
    font-size: $s2;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -.02em;
  }
  @include bp($md) {
    &__bottom-right { align-self: center; }
  }

}


.offers-loading {
  height: $s6;
  width: $s6;
  position: relative;
  text-indent: -9999px;
  margin: auto;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/icons/loading.svg');
  transform-origin: center;
  animation: spin 2s infinite linear;
  @keyframes spin {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
  }
}